<% include include/header.ejs%>
<%
    if(articles)
    for(var i=0; i<articles.length; i++){
        var article = articles[i];
        %>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="http://gravatar.duoshuo.com/avatar/email?s=32" alt="">
                        <%=article.user.username%>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="/articles/detail/<%=article._id%>"><%=article.title%></a></h4>
                    <p><%=article.content%></p>
                    <p><img src="<%=article.poster%>" alt=""></p>
                </div>
            </div>
        <%
    }
%>
<nav>
    <ul class="pagination">
        <%
            if(pageNum>1){
                %>
                    <li>
                        <a href="/articles/list/<%=pageNum-1%>/3?keyword=<%=keyword%>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                <%
            }
        %>

        <%
            for(var i=1;i<=totalPage;i++){
                %><li class="<%=pageNum==i?'active':''%>"><a href="/articles/list/<%=i%>/3?keyword=<%=keyword%>"><%=i%></a></li><%
            }
        %>
        <%
            if(pageNum<totalPage){
               %>
                    <li>
                        <a href="/articles/list/<%=pageNum+1%>/3?keyword=<%=keyword%>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
               <%
            }
        %>

    </ul>
</nav>
<% include include/footer.ejs%>
